---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About Hellx World</title>
  </head>
  <body>
    <a href="/">Inicio</a>
    <a href="/about/">Sobre mi</a>
    <a href="/bluagh/">Blog</a>
    <h1>About!</h1>
    <p>
      Pues de paso que aprendo Astro creo un blog para vomitar mis opiniones
      sobre el maravilloso mundo de la programación
    </p>
  </body>
</html>
