---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Hellx World!";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>
    La informática es un terreno árido... <small>(Un profe que tuve)</small>
  </h2>
  <p>
    Desconozco las razones que os llevaron a introduciros en el mundo del
    desarrollo.
  </p>
  <p>
    En mi caso, fueron dos:

    <ul>
      <li>Mejora de empleo</li>
      <li>Llevar a cabo proyectos que tenía en mente</li>
    </ul>
  </p>
  <p>Cuando empecé (hará cosa de unos 6 años), mis conocimientos eran practicamente nulos.</p>
  <p>Y no voy a negar que el camino ha sido arduo (gente, estudien cuando son jovenes. Hacerlo con 40 y pico es bastante más complicado.)</p>
  <p>Pero sin duda ha valido la pena. Aún así, me hubiera gustado poder desahogarme en más de una ocasión.</p>
  <p>En este blog intentaré tratar en clave de humor aquellas vicisitudes relacionadas con el mundo del desarrollo que me puedan, o hayan podido, preocupar.</p>

  <!-- <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} /> -->
</BaseLayout>
